
/* Need to change colors? Do it here, these are the main colors that are used all over the website */
:root {
  --main-background-color: #0A0A0A;
  --alt-background-color: #202020;
  --white: #fff;
  --black: #000;
  --gray: #373737;
  --primary: #666666;
  --error: #D92D20;
  --brand-primary: rgb(138, 180, 248);
  --brand-secondary: rgb(193, 168, 226);
  --brand-alternative: rgb(136, 186, 191);
  --background-site: rgb(0, 0, 0);
  --background-code: rgb(12, 12, 12);
  --text-body: rgb(222, 222, 222);
  --text-comment: rgb(170, 170, 170);
  --text-high-contrast: rgb(230, 230, 230);
  --text-medium-contrast: rgb(202, 202, 202);
  --text-low-contrast: rgb(170, 170, 170);
  --detail-high-contrast: rgb(101, 101, 101);
  --detail-medium-contrast: rgb(25, 25, 25);
  --detail-low-contrast: rgb(21, 21, 21);
  --admonition-note: rgb(138, 180, 248);
  --admonition-warning: rgb(253, 186, 116);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 138, 180, 248;
  --brand-secondary-rgb-value: 193, 168, 226;
  --brand-alternative-rgb-value: 136, 186, 191;
  --background-site-rgb-value: 0, 0, 0;
  --background-code-rgb-value: 12, 12, 12;
  --text-body-rgb-value: 222, 222, 222;
  --text-comment-rgb-value: 170, 170, 170;
  --text-high-contrast-rgb-value: 230, 230, 230;
  --text-medium-contrast-rgb-value: 202, 202, 202;
  --text-low-contrast-rgb-value: 170, 170, 170;
  --detail-high-contrast-rgb-value: 101, 101, 101;
  --detail-medium-contrast-rgb-value: 25, 25, 25;
  --detail-low-contrast-rgb-value: 21, 21, 21;
  --admonition-note-rgb-value: 138, 180, 248;
  --admonition-warning-rgb-value: 253, 186, 116;
  --admonition-danger-rgb-value: 220, 38, 38;
}

/* Font: Plus Jakarta Sans is being loaded here from Google Fonts and is used all over the website */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


html {
  scroll-behavior: smooth;
}

body {
  /* background-color: var(--main-background-color); */
  /* Old font: */
  /* font-family: 'Plus Jakarta Sans', sans-serif; */
  font-family: Arial, sans-serif;

  font-size: 1rem;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background-color);
  color: var(--white);
  overflow-x: hidden;

}
main {
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
.w-100 {
  width: 100%;
}


/* Wallet balance container */

/* Modal that opens when the 'Connect Wallet' button is clicked styling */
.wallet-adapter-modal-wrapper {
  background-color: var(--alt-background-color) !important;

}
.wallet-adapter-button {
  color: var(--white) !important;
  background-color: var(--gray) !important;
  transition: 0.2s !important;
}
.wallet-adapter-button:hover {
  opacity: 0.9 !important;
  color: #64645c !important;
}
.wallet-adapter-modal-list {
  margin: 0 0 4px !important;
}
.wallet-adapter-modal-list li:not(:first-of-type) {
  margin-top: 4px !important;
}
.wallet-adapter-modal-title {
  color: var(----white) !important;
  
}


